<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
               <h4> CONTACT App</h4>
               <hr>
               <form action ="/contact" method="POST">
                   <label for = "name">
                      Name:  <input type="text" class="form-control" id="name" name="name"> 
                   </label>
                   <label for= "phone">
                       Phone: <input type="text" class="form-control" id="phone" name="phone">

                   </label>
                   <button type= "submit" class="btn btn-info">submit</button>
               </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each db}}
                        <tr>
                            <td>{{name}}</td>
                             <td>{{phone}}</td>

                        </tr>
                        
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>