<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class ="container-fluid">
  <div class="row">

      <div class="col-md-4 offset-md-8">
          <h3>Blog Post</h3>
      </div>
      <div class="col-md-12">
          <hr>
      </div>
      <div class="col-md-3">
          <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link active" href="/index">View Blog Posts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="/addblog">Add Blog Posts</a>
              </li>
              
          </ul>
      </div>

      <div class="col-md-9">

          {{#if success}}
          <div class="alert alert-success">

              <strong>success:</strong>Your blog post has been edited successfully!
          </div>
          {{/if}}
          <h4>Editing - "{{title}}"</h4>
          <form action="/editblog/{{_id}}" method="POST">
              <div class="form-group">
                  <label for="title">Title for your post</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{title}}">
               </div>

               <div class="form-group">
                   <label for="content">Blog Post Content</label>
                   <textarea name="content" id="content" cols="30" rows="10" class="form-control">{{content}}</textarea>
               </div>
              <button type="submit" class= "btn btn-primary">Update</button>
          </form>
          <p></p>
          <button type="button" class="btn btn-danger" id="deletepost">Delete</button>
      </div>

  </div>



</div>
</body>
</html>