<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class= "col-md-4 offset-md-4">
                <h3>AttainU Players App</h3>
                <hr>
                <ol>{{#each players}}<li>
                    {{this}}
                </li>
                {{/each}}</ol>



            </div>
        </div>
    </div>
</body>
</html>